name: CI

on:
  push:
    branches:
      - main
    paths-ignore:
      - "*.md"
  pull_request:
    paths-ignore:
      - "*.md"
  workflow_dispatch:

jobs:
  test:
    runs-on: macos-10.15
    timeout-minutes: 60
    strategy:
      matrix:
        image:
          - "ubuntu-20.04"
    defaults:
      run:
        working-directory: "images/${{ matrix.image }}"
    steps:
      - uses: actions/checkout@v3

      - run: brew install gnu-sed shellcheck
      - run: make vagrant-validate
      - run: make shellcheck

      - name: Comment out runner scripts
        run: |
          gsed -i 's@./config.sh@# ./config.sh@g' Vagrantfile
          gsed -i 's@nohup ./run.sh@# nohup ./run.sh@g' Vagrantfile

      - name: Generate .env
        run: |
          cat <<- EOF > .env
          GHA_RUNNER_VERSION = "$(curl -fsi "https://github.com/actions/runner/releases/latest" | awk -F/ '/^(L|l)ocation:/ {print $(NF)}' | tr -d '\r' | tr -d 'v')"
          VB_CPUS = '2'
          VB_MEMORY = '4096'
          VB_DISK_SIZE = '7GB'
          GHA_RUNNER_URL = ''
          GHA_RUNNER_TOKEN = ''
          EOF

      - run: make up
      - run: make dump-version
